# Workaround to allow tracking empty directory to avoid warning when
# running sphinx-build (source: https://stackoverflow.com/a/932982)

# Ignore everything in this directory
*
# Except this file
!.gitignore

