name: Documentation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Cache tox
        uses: actions/cache@v3
        with:
          path: .tox
          key: tox-${{hashFiles('pyproject.toml')}}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: "pip"
          cache-dependency-path: "pyproject.toml"
      - name: Install tox
        run: python -m pip install tox
      - name: Build HTML documentation with tox
        run: tox -e docs
      - name: Pubish documentation on GitHub pages
        if: success() && github.event_name != 'pull_request'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
          publish_branch: gh-pages
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
